<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FalconAutoASNService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IdocDistributorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SampleTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--<add key="DBConn" value="data source=192.168.1.241;initial catalog=VIP_PSN;user id=VIP_AppUser;password=VIP@369!!;persist security info=True;packet size=4096;" />-->
    <add key="DBConn" value="data source=INVENTRAX72\MSSQLSERVER2017;initial catalog=Shipper;user id=dbadmin;password=inv123;persist security info=True;packet size=4096;" />
  
    <add key="ExcellFolderPath" value="F:\TFS PROJECT SOURCE\Shipper_ID\Inventrax_CommonBackGroundService\bin\Release\ExcellData\"></add>
    <add key="WCF_URL" value="http://10.1.1.102/VIP_IDOC_CentralExchange//Falcon.svc" />
    <add key="SAP_Destination" value="VIP_QLY" />
    
   
   
    
    
    
    <add key="TimeForGRNEmail" value="1000" />
    <add key="TimeForPGIEmail" value="3000" />
    <add key="TimeForOBDSummary" value="3000" />
    <add key="TimeForWHSummary" value="3000" />
    <add key="TimeForStockConsolidation" value="1000" />

    <add key="IsGRNEmailRequired" value="0" />
    <add key="IsPGIEmailRequired" value="0" />
    <add key="IsOBDSummmaryRequired" value="0" />
    <add key="IsWHSummaryReportRequired" value="0" />
    <add key="IsStockConsolidationRequired" value="1" />
    <add key="IsDayWiseClosingStockRequired" value="1" />
    <add key="isWebHooksServiceRequired" value="0" />


    <add key="WebHookUserName" value="6ecd0e24-de03-11ea-963c-caa5dc5f453e" />
    <add key="WebHookPassword" value="RXEECzpTGpxNqEBjgahj" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />



    <!-- KEYS RELATED TO EMAIL-->
    <add key="ServerEnvironment" value="DEV" />
    <!--DEV,QLY,PROD-->
    <add key="ApplicationEnvironment" value="Merlin WMS(Dev Server)" />
    <add key="SMTPPort" value="587" />
    <add key="FromEMail" value="FalconWMS.Notifications@gmail.com" />
    <add key="FromMailPassword" value="Inventr@x@2020" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPServerRequiresAuthentication" value="1" />
    <!-- END: SMTP EMAIL SERVER SETTINGS -->
    <!-- BEGIN: EMAILS OF CONCERNED STAKEHOLDERS -->
    <add key="INVDevelopers" value="swamyp@inventrax.com,praveen.pasupuleti@inventrax.com" />
    <add key="INVQualityTeam" value="swamyp@inventrax.com,praveen.pasupuleti@inventrax.com,pradeep.p@inventrax.com" />
    <add key="INVSupportTeam" value="" />
    <add key="INVPMTeam" value="" />
    <add key="ClientEMails" value="" />
    
    <!-- KEYS RELATED TO EMAIL-->






  </appSettings>
  <applicationSettings>
    <FalconAutoASNService.Properties.Settings>
      <setting name="FalconAutoASNService_AutoASNWCF_Falcon" serializeAs="String">
        <value>http://localhost/FalconWCF_VIP_RDC/Falcon.svc</value>
      </setting>
    </FalconAutoASNService.Properties.Settings>
    <IdocDistributorService.Properties.Settings>
      <setting name="IdocDistributorService_Service_Falcon" serializeAs="String">
        <value>http://localhost/PDT/Falcon.svc</value>
      </setting>
    </IdocDistributorService.Properties.Settings>
    <SampleTest.Properties.Settings>
      <setting name="SampleTest_IdocReciver_IdocReceiver" serializeAs="String">
        <value>http://localhost/IDOCReciverService/IdocReceiver.svc</value>
      </setting>
    </SampleTest.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>