<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="dbConnectionString" value="data source=192.168.1.90;initial catalog=FalconWMS_3PL_SL_QC;user id=TempLogin;password=P@ssw0rd;persist security info=True;packet size=4096;" />
    <add key="ApplicationEnvironment" value="VIP DEVELOPMENT SERVER" />
    <add key="SMTPPort" value="80" />
    <add key="INVDevelopers" value="prasanna.chaganti@inventrax.com, swamyp@inventrax.com, subbu.divvi@inventrax.com" />
    <add key="INVQualityTeam" value="" />
    <add key="INVSupportTeam" value="" />
    <add key="INVPMTeam" value="" />
    <add key="ClientEMails" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISingleSignOnDBSink" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.20/SSOServices/Service/SingleSignOnDBSink.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISingleSignOnDBSink" contract="SSOService.ISingleSignOnDBSink" name="BasicHttpBinding_ISingleSignOnDBSink" />
      <!--<endpoint address="http://192.168.1.90/SSOServices_QC/Service/SingleSignOnDBSink.svc"
                 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISingleSignOnDBSink"
                 contract="ServiceReference1.ISingleSignOnDBSink" name="BasicHttpBinding_ISingleSignOnDBSink" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>