<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--<add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>-->
    <!--<add key="dbConnectionString" value="data source=INVENTRAX72\MSSQLSERVER2017;initial catalog=FalconCore;user id=dbadmin;password=inv123;persist security info=True;packet size=4096;" />-->
    <!--<add key="dbConnectionString" value="data source=192.168.1.241;initial catalog=Fusion_Demo;user id=Dhow_AppUser;password=Dhow@369!;persist security info=True;packet size=4096;" />-->

    <!--<add key="dbConnectionString" value="data source=INVENTRAX72\MSSQLSERVER2017;initial catalog=Shipper_Test;user id=dbadmin;password=inv123;persist security info=True;packet size=4096;" />-->

    <add key="dbConnectionString" value="data source=192.168.1.241;initial catalog=MRLWMSC21;user id=MRLWMSC21_AppUser;password=MRLWMS@#69;persist security info=True;packet size=4096;" />
    
    <!--<add key="dbConnectionString" value="data source=10.1.1.103;initial catalog=VIP_Samadhan;user id=vip_appuser;password=VIP@369!;persist security info=True;packet size=4096;"/>-->
    <!-- BEGIN: SMTP EMAIL SERVER SETTINGS -->
    <!--
    <add key="ApplicationEnvironment" value="VIP DEVELOPMENT SERVER" />
    <add key="SMTPPort" value="80" />
    
    <add key="FromEMail" value="merlinwms@inventrax.com" />
    <add key="FromMailPassword" value="ASDasd123" />

    <add key="SMTPServer" value="smtpout.asia.secureserver.net" />
    <add key="SMTPServerRequiresAuthentication" value="0" />
    -->
    <!-- END: SMTP EMAIL SERVER SETTINGS -->
    <!-- BEGIN: SMTP EMAIL SERVER SETTINGS -->
    <add key="ApplicationEnvironment" value="SL LOCAL SERVER" />
    <add key="SMTPPort" value="587" />
    <add key="FromEMail" value="FalconWMS.Notifications@gmail.com" />
    <add key="FromMailPassword" value="P@ssw0rd1234" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPServerRequiresAuthentication" value="1" />
    <!-- END: SMTP EMAIL SERVER SETTINGS -->
    <!-- BEGIN: EMAILS OF CONCERNED STAKEHOLDERS -->
    <add key="INVDevelopers" value="prasanna.chaganti@inventrax.com" />
    <add key="INVQualityTeam" value="" />
    <add key="INVSupportTeam" value="" />
    <add key="INVPMTeam" value="" />
    <add key="ClientEMails" value="" />
    <!-- BEGIN: EMAILS OF CONCERNED STAKEHOLDERS -->
    <add key="WebURL" value="http:\\192.168.1.34\\FalconWMS_SL\\TenantContent\\6\\Outbound\\OBD_POD\\" />
  </appSettings>
  
  
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
    </httpModules>
  </system.web>
  <system.webServer>
    
    <modules>
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMRLWMSC21HHTWCFService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MRLWMSC21_WCF/MRLWMSC21HHTWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMRLWMSC21HHTWCFService1"
        contract="MRLWMSC21Service.IMRLWMSC21HHTWCFService" name="BasicHttpBinding_IMRLWMSC21HHTWCFService1" />
    </client>
  </system.serviceModel>
  
</configuration>
<!--ProjectGuid: 5EA9E22F-DD91-419A-A30D-8B64FDF43C36-->